# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# IPA / Archives
*.ipa
*.xcarchive
Payload/

# IDE
.idea/
*.swp
*~
